@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Zen+Dots&display=swap");
@import "tailwindcss";

@theme {
  --font-syne: "Syne", sans-serif;
  --font-zen-dots: "Zen Dots", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --bg-color: #ffffff;

  --color-cesium: #ee7749;
  --color-alien: #c8f135;
  --color-bugs: #7fbf1f;
  --color-dojo: #7b2cbf;
  --color-godot: #478cbf;
}

@layer base {
  body {
    margin: 0;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.3s ease;
  }
}

.accent-dot {
  width: 12px;
  height: 12px;
  background: alien;
  border-radius: 50%;
  display: inline-block;
  animation: pulse 2s infinite;
}
